/*  reset default browser settings */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* styles for the body section of the page */
body {
    font-size:16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* styles for the main container */
.main-container {
    height:100vh;
    display:grid;
    grid-template-rows:10% 80% 10%;
    gap:1rem;
    margin:0.5rem;

}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    font-weight: bold;
}

/*-----------------------styles for container-------------------*/
/* styles for container */
.container {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:2rem;
    background-color:silver;
    gap:1rem;
    border-radius:20px;
}

/* styles for all divs inside container */
.all-div {
    background-color: aliceblue;
    border-radius:20px;
}

/*  styles of the first div in  container*/
.first-div {
    grid-column:1/2;
    grid-row:1/2;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
}

.items {

    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    font-weight: bold;
}
/*styles for the svg one wind*/
.item-one {
    grid-column:1/2;
    grid-row:1/2;
    width:40%;
    height:auto;
    margin:auto;
}

.item-two {
    grid-column:2/3;
    grid-row:1/2;
}

.item-three {
    grid-column:1/3;
    grid-row:2/3;
}


/* styles for second div in container */
.second-div {
    grid-column:2/3;
    grid-row:1/2;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
}

/*  styles for the third div in container*/
.third-div {

    grid-column:1/2;
    grid-row:2/3;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
}

/* styles for the fourth div in container */
.fourth-div {
    grid-column:2/3;
    grid-row:2/3;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
}

/*-----------------------end of container styles --------*/
/*  styles for  footer*/
.footer {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}